pkgbase = apc
	pkgdesc = Lightweight bash wrapper for Pacman.
	pkgver = 0.0.2
	pkgrel = 3
	url = https://github.com/h8d13/apc
	arch = any
	license = 0BSD
	depends = pacman
	depends = pacman-contrib
	depends = reflector
	provides = apc
	conflicts = apc
	source = https://github.com/h8d13/apc/releases/download/v0.0.2-3/apc-0.0.2-3.tar.gz
	sha256sums = SKIP

pkgname = apc
